@model List<QLyKhachSan.Models.PHONG>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel | Template</title>


    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/style.css" type="text/css">
</head>

<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>


    <header class="header-section other-page">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/Home"><img src="~/Assets/img/logo.png" alt=""></a>
                </div>
                <div class="top-widget">
                    <div class="top-info address">
                        <img src="~/Assets/img/placeholder.png" alt="">
                        <span>1525 Boring Lane, Los <br />Angeles, CA</span>
                    </div>
                    <div class="top-info phone-num">
                        <img src="~/Assets/img/phone.png" alt="">
                        <span>+1 (603)535-4592</span>
                    </div>
                </div>
                <div class="container">
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a href="/Home">Home</a></li>
                            <li><a href="/Services">Services</a></li>
                            <li>
                                <a href="/Rooms">Roomsss</a>
                                <ul class="drop-menu">
                                    <li><a href="#">Junior Suit</a></li>
                                    <li><a href="#">Double Room</a></li>
                                    <li><a href="#">Senior Suit</a></li>
                                    <li><a href="#">Single Room</a></li>
                                </ul>
                            </li>


                            <li><a href="./">News</a></li>
                            <li><a href="./">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>

    <section class="hero-section set-bg" data-setbg="Assets/img/rooms-bg.jpg">
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Rooms</h1>
                    </div>
                </div>
                <div class="page-nav">
                    <a href="./services.html" class="left-nav"><i class="lnr lnr-arrow-left"></i> Services</a>
                    <a href="./news.html" class="right-nav">News <i class="lnr lnr-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="room-section spad">
        <div class="container">
            @{ foreach (var item in Model)
                {
                    <div class="rooms-page-item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="room-pic-slider owl-carousel">
                                    <div class="single-room-pic">
                                        <img src="~/Assets/img/room/rooms-1.jpg" alt="">
                                    </div>
                                    <div class="single-room-pic">
                                        <img src="~/Assets/img/room/rooms-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="room-text">
                                    <div class="room-title">
                                        <h2> @item.LOAIPHONG</h2>
                                        <div class="room-price">
                                            <span>From</span>
                                            <h2>@item.GIAPHONG VNĐ</h2>
                                            <sub>/night</sub>
                                        </div>
                                    </div>
                                    <div class="room-desc">
                                        <p>
                                            @item.MIEUTAPHONG
                                        </p>
                                    </div>
                                    <div class="room-features">
                                        <div class="room-info">
                                            <i class="flaticon-019-television"></i>
                                            <span>Smart TV</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="flaticon-029-wifi"></i>
                                            <span>High Wi-fii</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="flaticon-003-air-conditioner"></i>
                                            <span>AC</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="flaticon-036-parking"></i>
                                            <span>Parking</span>
                                        </div>
                                    </div>
                                    <a href="#" class="primary-btn" data-toggle="modal" data-target="#exampleModal">Book Now <i class="lnr lnr-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </section>


    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-logo">
                        <a href="#"><img src="~/Assets/img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row pb-50">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Location</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-map-marker"></i>
                            <p>1525 Boring Lane, <br />Los Angeles, CA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Reception</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Shuttle Service</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Restaurant</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-text">
                    Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                </div>
                <div class="privacy-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Photo Requests</a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Booking Now </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="check-form">
                            <h2>Check Availability</h2>
                            <form id="booking_form" onsubmit="return false">
                                <div class="datepicker">
                                    <div class="date-select">
                                        <p>From</p>
                                        <input type="datetime" class="datepicker-1" id="dtp_from" />
                                        <img src="~/Assets/img/calendar.png" alt="">
                                    </div>
                                    <div class="date-select to">
                                        <p>To</p>
                                        <input type="text" class="datepicker-2" id="dtp_to" />
                                        <img src="~/Assets/img/calendar.png" alt="">
                                    </div>
                                </div>
                                <div class="room-quantity">
                                    <div class="single-quantity">
                                        <p>People</p>
                                        <div class="pro-qty"><input type="text" value="0" id="people"></div>
                                    </div>
                                    <div class="single-quantity">
                                        <p>Quantity</p>
                                        <div class="pro-qty"><input type="text" value="0" id="quantity"></div>
                                    </div>
                                </div>


                                <label for="cars">Type of Room : </label>
                                @{
                                    var context = new QLyKhachSan.Models.QuanLyKhachSanEntities();
                                    var TypeOfRoom = context.PHONGs.ToList();
                                    <select name="rooms" id="rooms">
                                        @{
                                            string duplicate = "";
                                            foreach (var item in TypeOfRoom)
                                            {
                                                if (duplicate.Contains(item.LOAIPHONG) == false)
                                                {
                                                    duplicate += item.LOAIPHONG;
                                                <option value="@item.LOAIPHONG"> @item.LOAIPHONG </option>
                                                    }

                                                }
                                          }
                                    </select>
                                }

                                <div>
                                    <label>
                                        Swiming pool
                                    </label>
                                    <input type="checkbox" id="pool">
                                </div>
                                <div>
                                    <label>
                                        Bar
                                    </label>
                                    <input type="checkbox" id="bar">
                                </div>
                                <div>
                                    <label>
                                        Gym
                                    </label>
                                    <input type="checkbox" id="gym">
                                </div>

                                <div>
                                    <input type="text" placeholder="Full Name" id="fullname" />
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone number" id="phonenum" />
                                </div>

                                <input type="submit" class="btn btn-primary" value="Book">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>


    <script>
        $("#booking_form").submit(function () {
            var formdata = {
                dtp_from: $("#dtp_from").val(),
                dtp_to: $("#dtp_to").val(),
                people: $("#people").val(),
                quantity: $("#quantity").val(),
                pool: $('#pool').is(":checked"),
                bar: $('#bar').is(":checked"),
                gym: $('#gym').is(":checked"),
                rooms: $("#rooms").val(),
                fullname: $("#fullname").val(),
                phonenum: $("#phonenum").val(),
            }
            console.log(formdata.pool);

            $.ajax({
                type: "POST",
                data: formdata,
                url: '/Rooms/Booking?dtp_from=' + formdata.dtp_from + '&dtp_from=' + formdata.dtp_to + '&people=' + formdata.people + '&quantity=' + formdata.quantity + '&pool=' + formdata.pool + '&bar=' + formdata.bar + '&gym=' + formdata.gym + '&rooms=' + formdata.rooms + '&fullname=' + formdata.fullname + '&phonenum=' + formdata.phonenum,
                success: function (msg) {
                    alert(msg);
                },
                Error: function () {
                    alert("Chưa đặt được phòng, Xem kỹ thông tin rồi nhập lại");
                }
            })
        })
    </script>


    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>

</html>