@model IEnumerable<QLyKhachSan.Models.PHONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Thêm phòng 
</button>

<table class="table">
    <tr>
        <th>
            Mã Phòng
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIPHONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIAPHONG)
        </th>
        <th>Tình trạng phòng</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>   @Html.DisplayFor(modelItem => item.SOPHONG)</td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAIPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIAPHONG)
            </td>
            <td>@item.LOAIPHONG </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SOPHONG }) |
                @Html.ActionLink("Details", "Details", new { id = item.SOPHONG }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SOPHONG })
            </td>
        </tr>
    }

</table>




<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Thêm phòng mới </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="form_add" method="post" onsubmit="return false"  >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> Loại phòng </label>
                            <input name="loaiPH" type="text" class="form-control" id="idLoaiPh">
                        </div>
                        <div>
                            <label> Giá phòng  </label>
                            <input name="giaPH" type="text" class="form-control" style="width:228px" id="idGiaPh">
                        </div>
                        <div>
                            <label> Miêu tả phòng  </label>
                            <input name="mieutaPh" type="text" class="form-control" style="width:228px" id="idMieutaPh">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Thêm"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {
        $("#form_add").submit(function () {
            var form_data = {
                loaiPh: $("#idLoaiPh").val(),
                giaPh: $("#idGiaPh").val(),
                mieutaPh: $("#idMieutaPh").val(),
            }
            $.ajax({
                url: "/Admin/PHONGs/Create",
                data: form_data,
                type: 'POST',
                async: true,
                success: function (result) {
                    if (result === 'true') {
                        alert("Thêm phòng thành công");
                        window.location.reload();
                    }
                    else {
                        alert("Thêm phòng không thành công");
                    }
                }
            });
        });
    });
</script>