@model QLyKhachSan.Models.PHONGTHUE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHONGTHUE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONG.LOAIPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.LOAIPHONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
