@model IEnumerable<QLyKhachSan.Models.PHONGTHUE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Phòng thuê</h2>

@section header{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
               Ngày Đến
            </th>
            <th>
              Ngày Đi
            </th>
            <th>
             Tên Khách Hàng
            </th>
            <th>
               Loại Phòng
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYDEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYDI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONG.LOAIPHONG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MADK }) |
                </td>

                <td>
                    @Html.ActionLink("Xuất hóa đơn ", "Details", new { id = item.MADK })

                </td>

            </tr>
        }
    </tbody>


</table>
<script src="~/Scripts/jquery-3.4.1.js"></script>

@section scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
