@model IEnumerable<QLyKhachSan.Models.DICHVU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>MADV</th>
            <th>
                @Html.DisplayNameFor(model => model.TENDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GIADV)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MADV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIADV)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MADV }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MADV }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MADV })
                </td>
            </tr>
        }
    </tbody>

</table>
<script src="~/Scripts/jquery-3.4.1.js"></script>
@section scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>